.container {
    width: 90%;
    margin: auto;
}

table {
    width: 100%;
}

mat-form-field, button {
    width: 100%;
}

h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.edit, .delete {
    color: rgba(117, 99, 171, 1);
}